* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    display: flex;
    gap: 5px;

}

aside {
    position: static;
    width: 381px;
    height: 100vh;
    border-right: 1px solid gray;
    overflow: hidden;
}

aside ul {
    display: flex;
    flex-direction: column;
    padding: 15px 0px 0px 10px;

}

aside ul li {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    border-top: 1px solid gray;
    list-style: none;
}

/* aside ul li:hover {
   
} */

aside a {
    color: rgb(12 9, 127, 127);
    text-decoration: none;
    color: rgb(151, 150, 150);
}

aside a :hover {
    background-color: rgb(155, 153, 153);
    color: white;
}

/* aside a.active {
    background-color: rgb(155, 153, 153);
    color: white;
} */

aside h1 {
    text-align: center;
    font-size: 33px;
    padding-top: 20px;

}

main {
    width: 100%;
    height: 100vh;
    padding: 0px 10px;
    overflow-y: scroll;

}

main h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(171, 191, 207);
    font-size: 40px;
}

main h1 {

    font-size: 25px;
    padding: 30px 0px 10px 0px;
    border-bottom: 1px solid gray;
}

main p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 10px;

}

main h3 {
    padding-top: 25px;
    font-size: 21px;
}

main li {
    line-height: 1.4;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article h3 {
    font-size: 15px;
}

code {
    font-family: monospace;
    display: block;
    background-color: rgb(160, 158, 158);
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    line-height: 2;
}